body {
  background-color: #282c34;
  color: white;
}

.App {
  text-align: center;
  max-width: 1000px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  padding: 20px;
  box-sizing: border-box;
}

.SideWrapper {
  display: flex;
  flex-flow: row nowrap;
  padding: 20px 0 0;
  align-items: flex-start;
  margin: 0 -10px;
}

.SideWrapper.full {
  flex: 1;
}

.SideWrapper > * {
  flex: 1;
  margin: 0 10px;
}